html, body {
    height: 100%;
}

.card {
    margin: auto;
    width: 80%;
    max-width: 500px;
    padding: 20px;
}

.hidden {
    display: none !important;
}
textarea {
    resize: none;
}
.add_scroll {
    max-height: 590px;
    overflow-y: scroll;
}
.buttons__container {
    margin: 1em;
}
.result {
    z-index: 1500;
}